services:
  rss_fetch:
    build:
      context: ../
      dockerfile: workers/rss_fetch/Dockerfile
    networks:
      - internal
    container_name: rss_fetch
    hostname: rss_fetch
    environment:
      - TEST_RUN=1
      #- FEED_URL=https://news.ycombinator.com/rss
    depends_on:
      - redis
  analysis:
    build:
      context: ../
      dockerfile: workers/analysis/Dockerfile
    networks:
      - internal
    container_name: analysis
    hostname: analysis
    depends_on:
      - redis
      - rss_fetch
      - postgres
    restart: always
  link_writer:
    build:
      context: ../
      dockerfile: workers/link_writer/Dockerfile
    networks:
      - internal
    container_name: link_writer
    hostname: link_writer
    depends_on:
      - redis
      - rss_fetch
      - postgres
    restart: always
  link_fix_detector:
    build:
      context: ../
      dockerfile: workers/link_fix_detector/Dockerfile
    networks:
      - internal
    container_name: link_fix_detector
    hostname: link_fix_detector
    depends_on:
      - redis
      - rss_fetch
      - postgres
    restart: always
  log_writer:
    build:
      context: ../
      dockerfile: workers/log_writer/Dockerfile
    networks:
      - internal
    container_name: log_writer
    hostname: log_writer
    depends_on:
      - redis
      - postgres
    restart: always
  redis:
   build:
     context: ../
     dockerfile: infrastructure/redis/Dockerfile
   networks:
     - internal
   restart: always
   container_name: redis_server
   hostname: redis_server
   ports:
     - 127.0.0.1:6379:6379
  postgres:
    image: "postgres:15.3-alpine"
    networks:
      - internal
    container_name: db_server
    hostname: db_server
    ports:
      - 127.0.0.1:5432:5432
    restart: always
    volumes:
      - ../infrastructure/postgre/pgdata:/var/lib/postgresql/pgdata
      - ../infrastructure/postgre/sql:/docker-entrypoint-initdb.d
      - ../infrastructure/postgre/credentials:/credentials
    environment:
      POSTGRES_DB_FILE: /credentials/db_name
      POSTGRES_USER_FILE: /credentials/db_user
      POSTGRES_PASSWORD_FILE: /credentials/db_password
      POSTGRES_EXTENSIONS: pg_trgm, plpgsql, unaccent
      PGDATA: /var/lib/postgresql/pgdata
networks:
  internal:
    name: internal