#!/bin/sh
export REDIS_HOSTNAME="localhost"
export REDIS_PORT="6379"
export REDIS_LOGS_CHANNEL='logs'
export POSTGRES_HOST='localhost'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'
export RSS_CHECK_INTERVAL_SECONDS='60'
export RSS_SERVICE_NAME='rss_fetch'