env.sh
infrastructure/postgre/credentials/db_name
infrastructure/postgre/credentials/db_password
infrastructure/postgre/credentials/db_user
infrastructure/postgre/pgdata/
node_modules
package-lock.json
control_center/app/*.js