env.sh
infrastructure/postgre/credentials/db_name
infrastructure/postgre/credentials/db_password
infrastructure/postgre/credentials/db_user
infrastructure/postgre/pgdata/
workers/rss_fetch/src/vendor
node_modules
package-lock.json
composer.lock
control_center/app/*.js