services:
  npm_cache:
    build:
      context: ./
      dockerfile: npm_cache/Dockerfile
    image: npm_cache
  control_center:
    build:
      context: control_center
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped
  rss_fetch:
    build:
      context: workers/rss_fetch
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped
  rss_links_fetch_01:
    build:
      context: workers/rss_links_fetch
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    hostname: rss_links_fetch_01
    depends_on:
      - npm_cache
    restart: unless-stopped
  rss_links_fetch_02:
    build:
      context: workers/rss_links_fetch
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    hostname: rss_links_fetch_02
    depends_on:
      - npm_cache
    restart: unless-stopped
  analysis:
    build:
      context: workers/analysis
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped

  rag_chunker:
    build:
      context: workers/rag_chunker
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
      - pg-0
    restart: unless-stopped
  link_writer:
    build:
      context: workers/link_writer
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped
  err_log_writer:
    build:
      context: workers/err_log_writer
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped
  link_fix_detector:
    build:
      context: workers/link_fix_detector
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - internal
    depends_on:
      - npm_cache
    restart: unless-stopped
  redis:
    build:
      context: infrastructure/redis
      dockerfile: Dockerfile
      target: base
    networks:
      - internal
    restart: unless-stopped
    container_name: redis_server
    hostname: redis_server
    ports:
      - 127.0.0.1:6379:6379
  pg-0:
    build:
      context: ./infrastructure/postgre
      dockerfile: Dockerfile.pgvector
    image: "dreamcatcher-postgresql-repmgr:15.6.0-debian-11-r18-pgvector"
    env_file:
      - .env
    networks:
      - internal
    ports:
      - 127.0.0.1:5432:5432
    restart: unless-stopped
    volumes:
      - ./infrastructure/datadir/pgdata_dev:/bitnami/postgresql
      - ./infrastructure/postgre/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRESQL_POSTGRES_PASSWORD: ${POSTGRESQL_DB_PASSWORD} # admin
      POSTGRESQL_USERNAME: ${POSTGRESQL_DB_USER}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_DB_PASSWORD}
      POSTGRESQL_DATABASE: ${POSTGRESQL_DB_NAME}
      REPMGR_PASSWORD: ${REPMGR_PASSWORD}
      REPMGR_PRIMARY_HOST: pg-0
      REPMGR_PRIMARY_PORT: 5432
      REPMGR_PARTNER_NODES: pg-0
      REPMGR_NODE_NAME: pg-0
      REPMGR_NODE_NETWORK_NAME: pg-0
      REPMGR_PORT_NUMBER: 5432
  kafka-0:
    image: "bitnamilegacy/kafka:3.5.1-debian-11-r7"
    mem_limit: "2GB"
    networks:
      - internal
    ports:
      - 127.0.0.1:9092:9092
      - 127.0.0.1:9093:9093
    restart: unless-stopped
    environment:
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - ./infrastructure/datadir/kafka_dev_data:/bitnami/kafka
  # trace_logger:
  #   image: "jaegertracing/all-in-one"
  #   networks:
  #     - internal
  #   environment:
  #     SPAN_STORAGE_TYPE: badger
  #     BADGER_EPHEMERAL: false
  #     BADGER_DIRECTORY_VALUE: /badger/data
  #     BADGER_DIRECTORY_KEY: /badger/key
  #     COLLECTOR_OTLP_ENABLED: true
  #   #      COLLECTOR_ZIPKIN_HOST_PORT: 9411
  #   #      COLLECTOR_ZIPKIN_HTTP_ENABLED: true
  #   ports:
  #     - 16686:16686
  #     - 14268:14268
  #     #- 9411:9411
  #     - 5778:5778
  #     - 5775:5775/udp
  #     - 6831:6831/udp
  #     - 6832:6832/udp
  #   restart: unless-stopped
  #   volumes:
  #     - ./infrastructure/datadir/jaeger:/badger
  netdata:
    image: netdata/netdata:stable
    networks:
      - internal
    ports:
      - 127.0.0.1:19999:19999
    restart: unless-stopped
    volumes:
      - ./infrastructure/datadir/netdata:/var/lib/netdata
      - ./infrastructure/datadir/netdata-cache:/var/cache/netdata

  ollama:
    image: ollama/ollama:latest
    networks:
      - internal
    ports:
      - 127.0.0.1:11434:11434
    restart: unless-stopped
    volumes:
      - ./infrastructure/datadir/ollama:/root/.ollama

  dreamcatcher_ui:
    build:
      context: ui
      dockerfile: Dockerfile
    networks:
      - internal
    ports:
      - 127.0.0.1:8082:80
    restart: unless-stopped

  kafka_ui:
    image: "provectuslabs/kafka-ui:latest"
    networks:
      - internal
    ports:
      - 127.0.0.1:8081:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
    restart: unless-stopped
    volumes:
      - ./infrastructure/kafka-ui/config-dev.yml:/etc/kafkaui/dynamic_config.yaml
networks:
  internal:
    name: internal