services:
  rss_fetch:
    build: workers/rss_fetch
    networks:
      - internal
    container_name: rss_fetch
    hostname: rss_fetch
    environment:
      - TEST_RUN=1
      #- FEED_URL=https://news.ycombinator.com/rss
    depends_on:
      - redis
  analysis:
    build: workers/analysis
    networks:
      - internal
    container_name: analysis
    hostname: analysis
    depends_on:
      - redis
      - rss_fetch
      - postgres
  redis:
   build: infrastructure/redis
   networks:
     - internal
   restart: always
   container_name: redis_server
   hostname: redis_server
#   ports:
#     - 6379:6379
  postgres:
    image: "postgres:15.3-alpine"
    networks:
      - internal
    container_name: db_server
    hostname: db_server
    ports:
      - 5432:5432
    restart: always
    volumes:
      - ./infrastructure/postgre/pgdata:/var/lib/postgresql/data/pgdata
      - ./infrastructure/postgre/sql:/docker-entrypoint-initdb.d
      - ./infrastructure/postgre/credentials:/credentials
    environment:
      POSTGRES_DB_FILE: /credentials/db_name
      POSTGRES_USER_FILE: /credentials/db_user
      POSTGRES_PASSWORD_FILE: /credentials/db_password
      POSTGRES_EXTENSIONS: pg_trgm, plpgsql, unaccent
      PGDATA: /var/lib/postgresql/data/pgdata
networks:
  internal:
    name: internal