services:
  rss_fetch:
    build: php/rss_fetch
    networks:
      - internal
    container_name: rss_fetch
    hostname: rss_fetch
    environment:
      - TEST_RUN=1
    depends_on:
      - redis
  redis:
   image: "redis:7.2-rc2-alpine"
   networks:
     - internal
   container_name: redis_server
   hostname: redis_server
networks:
  internal:
    name: internal