#!/bin/sh
export REDIS_HOSTNAME="redis_server"
export REDIS_PORT="6379"
export REDIS_TELEMETRY_CHANNEL="telemetry"
export KAFKA_NODES='kafka-0:9092,kafka-1:9092,kafka-2:9092'
export KAFKA_NEW_LINKS_CHANNEL='new_rss_links'
export KAFKA_FEED_FETCH_CHANNEL='fetch_feed'
export KAFKA_LOGS_CHANNEL='logs'
export POSTGRES_HOST='db_server'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'
export OTEL_EXPORTER_JAEGER_AGENT_HOST='trace_logger'