#!/bin/sh
export KEY_STORE_NODES="redis-sentinel-0:26379,redis-sentinel-1:26379,redis-sentinel-2:26379"
export KEY_STORE_TELEMETRY_CHANNEL="telemetry"
export KEY_STORE_NEW_LINKS_CHANNEL="new_rss_links"
export KEY_STORE_LOGS_CHANNEL="logs"
export POSTGRES_HOST='db_server'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'
export OTEL_EXPORTER_JAEGER_AGENT_HOST='trace_logger'