#!/bin/sh
export REDIS_HOSTNAME="redis_server"
export REDIS_PORT="6379"
export REDIS_NEW_LINKS_CHANNEL='new_rss_links'
export REDIS_LOGS_CHANNEL='logs'
export POSTGRES_HOST='db_server'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'