#!/bin/sh
export KEY_STORE_NODES="redis-sentinel-0:26379,redis-sentinel-1:26379,redis-sentinel-2:26379,redis-sentinel-3:26379,redis-sentinel-4:26379"
export TELEMETRY_CHANNEL_NAME="telemetry"
export NEW_LINKS_CHANNEL_NAME="new_rss_links"
export FEED_FETCH_CHANNEL_NAME="fetch_feed"
export LOGS_CHANNEL_NAME="logs"
export RSS_INVALID_URLS_CHANEL_NAME="rss_url_invalid"
export MQ_NODES="kafka-0:9092,kafka-1:9092,kafka-2:9092"
export OTEL_EXPORTER_JAEGER_AGENT_HOST='trace_logger'