#!/bin/sh
export KEY_STORE_NODES="redis_server"
export KEY_STORE_PORT="6379"
export TELEMETRY_CHANNEL_NAME="telemetry"
export LOGS_CHANNEL_NAME="logs"
export RSS_INVALID_URLS_CHANEL_NAME="rss_url_invalid"
export MQ_NODES="kafka-0:9092"
export POSTGRES_HOST='db_server'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'
export OTEL_EXPORTER_JAEGER_AGENT_HOST='trace_logger'