#!/bin/sh
export KEY_STORE_NODES="redis_server"
export KEY_STORE_PORT="6379"
export KEY_STORE_TELEMETRY_CHANNEL="telemetry"
export KEY_STORE_LOGS_CHANNEL="logs"
export POSTGRES_HOST='db_server'
export POSTGRES_USER='dreamcatcher_user'
export POSTGRES_PASSWORD='example123ABCD'
export POSTGRES_DB='dreamcatcher'
export OTEL_EXPORTER_JAEGER_AGENT_HOST='trace_logger'